section{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-family: 'Playfair Display', serif;
}
.paginaBackground{
    background-color: #ffffed;
}
.imgdim{
    width: 18rem !important;
    height: 18rem !important;
}